modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3000

[[ports]]
localPort = 4321
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[[ports]]
localPort = 25280
externalPort = 80

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://fllzlpecwwabwgfbnxfu.supabase.co"
SUPABASE_URL = "https://fllzlpecwwabwgfbnxfu.supabase.co"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51SnhAeBiis9BBJ4LdGqnByHdfyaMyif2bjyZDiTG0oZqJEN1UFNDu9GIam1NniNCvnDU5wTAygjAbSfx9uhr0JZb00GruF4SX5"
STRIPE_ENV = "live"
STRIPE_TEST_PUBLISHABLE_KEY = "pk_test_51SnhAoPetwZcCbhPAniEmOEUQrs4b9JBKOThOGX7uBFsmF6QI9bG7QjnnFg47wg5a2Zmn3qK5b1opKl1rx7NsB3d00oLpCVQRe"
HAGEN_BASE_URL = "https://hagen-production.up.railway.app"
RESEND_FROM_EMAIL = "LeTrend <hej@letrend.se>"
VITE_APP_URL = "https://72ede591-2293-453b-b41d-a99522630201-00-29z0j81ipx73a.worf.replit.dev"
VITE_ENV = "test"
VITE_SUPABASE_ANON_KEY = "sb_publishable_65ahLoUDSMCvfWaorf5DBQ_5hNQrWJO"

[nix]
channel = "stable-25_05"
packages = ["yakut"]
